<app-grocery-list></app-grocery-list>
<h1
    style="
        text-align:center;
        font-size: 48px;
        font-weight: bold;
        margin-top: 100px;
    "
>
    Shopping list
</h1>
<mat-card style="margin: 50px auto;">
    <button mat-fab color="primary" style="float: right;">
        <mat-icon>add</mat-icon>
    </button>
    <mat-form-field style="width: 100%;">
        <mat-label>Grocery item</mat-label>
        <input matInput placeholder="Ex. Rice" />
    </mat-form-field>
</mat-card>